In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
csv_df = pd.read_csv("sales_data.csv")
excel_df = pd.read_excel("sales_data.xlsx")
json_df = pd.read_json("sales_data.json")

json_df['Order_Date'] = pd.to_datetime(json_df['Order_Date'], unit='ms')

In [13]:
print("CSV Shape:", csv_df.shape)
print("Excel Shape:", excel_df.shape)
print("JSON Shape:", json_df.shape)

print("\nMissing values in CSV:\n", csv_df.isnull().sum())
print("\nMissing values in Excel:\n", excel_df.isnull().sum())
print("\nMissing values in JSON:\n", json_df.isnull().sum())

CSV Shape: (20, 7)
Excel Shape: (20, 7)
JSON Shape: (20, 7)

Missing values in CSV:
 Order_ID       0
Customer_ID    0
Order_Date     0
Category       0
Product        0
Quantity       0
Unit_Price     0
dtype: int64

Missing values in Excel:
 Order_ID       0
Customer_ID    0
Order_Date     0
Category       0
Product        0
Quantity       0
Unit_Price     0
dtype: int64

Missing values in JSON:
 Order_ID       0
Customer_ID    0
Order_Date     0
Category       0
Product        0
Quantity       0
Unit_Price     0
dtype: int64

In [14]:
csv_df.drop_duplicates(inplace=True)
excel_df.drop_duplicates(inplace=True)
json_df.drop_duplicates(inplace=True)

csv_df.fillna(method='ffill', inplace=True)
excel_df.fillna(method='ffill', inplace=True)
json_df.fillna(method='ffill', inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_11308\2990007052.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_df.fillna(method='ffill', inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_11308\2990007052.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  excel_df.fillna(method='ffill', inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_11308\2990007052.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  json_df.fillna(method='ffill', inplace=True)

In [15]:
combined_df = pd.concat([csv_df, excel_df, json_df], ignore_index=True)

In [16]:
combined_df

,Order_ID,Customer_ID,Order_Date,Category,Product,Quantity,Unit_Price
0,ORD1000,CUST200,2023-01-01,Books,Phone,3,187.90
1,ORD1001,CUST201,2023-01-16,Furniture,Shirt,4,715.81
2,ORD1002,CUST202,2023-01-31,Electronics,Novel,4,496.14
3,ORD1003,CUST203,2023-02-15,Books,Shirt,1,209.83
4,ORD1004,CUST204,2023-03-02,Books,Novel,3,545.66
5,ORD1005,CUST205,2023-03-17,Furniture,Phone,1,130.95
6,ORD1006,CUST206,2023-04-01,Electronics,Laptop,3,918.39
7,ORD1007,CUST207,2023-04-16,Electronics,Novel,3,332.90
8,ORD1008,CUST208,2023-05-01,Books,Shirt,1,696.27
9,ORD1009,CUST209,2023-05-16,Clothing,Phone,1,380.54
10,ORD1010,CUST210,2023-05-31,Books,Novel,3,568.06
11,ORD1011,CUST211,2023-06-15,Books,Laptop,2,592.04
12,ORD1012,CUST212,2023-06-30,Books,Laptop,4,266.37
13,ORD1013,CUST213,2023-07-15,Books,Chair,1,972.63
14,ORD1014,CUST214,2023-07-30,Furniture,Chair,4,797.62
15,ORD1015,CUST215,2023-08-14,Electronics,Shirt,2,945.55
16,ORD1016,CUST216,2023-08-29,Furniture,Novel,2,905.34
17,ORD1017,CUST217,2023-09-13,Furniture,Novel,2,638.11
18,ORD1018,CUST218,2023-09-28,Furniture,Chair,1,929.69
19,ORD1019,CUST219,2023-10-13,Books,Novel,2,179.64
20,ORD1000,CUST200,2023-01-01 00:00:00,Books,Phone,3,187.90
21,ORD1001,CUST201,2023-01-16 00:00:00,Furniture,Shirt,4,715.81
22,ORD1002,CUST202,2023-01-31 00:00:00,Electronics,Novel,4,496.14
23,ORD1003,CUST203,2023-02-15 00:00:00,Books,Shirt,1,209.83
24,ORD1004,CUST204,2023-03-02 00:00:00,Books,Novel,3,545.66
25,ORD1005,CUST205,2023-03-17 00:00:00,Furniture,Phone,1,130.95
26,ORD1006,CUST206,2023-04-01 00:00:00,Electronics,Laptop,3,918.39
27,ORD1007,CUST207,2023-04-16 00:00:00,Electronics,Novel,3,332.90
28,ORD1008,CUST208,2023-05-01 00:00:00,Books,Shirt,1,696.27
29,ORD1009,CUST209,2023-05-16 00:00:00,Clothing,Phone,1,380.54
30,ORD1010,CUST210,2023-05-31 00:00:00,Books,Novel,3,568.06
31,ORD1011,CUST211,2023-06-15 00:00:00,Books,Laptop,2,592.04
32,ORD1012,CUST212,2023-06-30 00:00:00,Books,Laptop,4,266.37
33,ORD1013,CUST213,2023-07-15 00:00:00,Books,Chair,1,972.63
34,ORD1014,CUST214,2023-07-30 00:00:00,Furniture,Chair,4,797.62
35,ORD1015,CUST215,2023-08-14 00:00:00,Electronics,Shirt,2,945.55
36,ORD1016,CUST216,2023-08-29 00:00:00,Furniture,Novel,2,905.34
37,ORD1017,CUST217,2023-09-13 00:00:00,Furniture,Novel,2,638.11
38,ORD1018,CUST218,2023-09-28 00:00:00,Furniture,Chair,1,929.69
39,ORD1019,CUST219,2023-10-13 00:00:00,Books,Novel,2,179.64
40,ORD1000,CUST200,2023-01-01 00:00:00,Books,Phone,3,187.90
41,ORD1001,CUST201,2023-01-16 00:00:00,Furniture,Shirt,4,715.81
42,ORD1002,CUST202,2023-01-31 00:00:00,Electronics,Novel,4,496.14
43,ORD1003,CUST203,2023-02-15 00:00:00,Books,Shirt,1,209.83
44,ORD1004,CUST204,2023-03-02 00:00:00,Books,Novel,3,545.66
45,ORD1005,CUST205,2023-03-17 00:00:00,Furniture,Phone,1,130.95
46,ORD1006,CUST206,2023-04-01 00:00:00,Electronics,Laptop,3,918.39
47,ORD1007,CUST207,2023-04-16 00:00:00,Electronics,Novel,3,332.90
48,ORD1008,CUST208,2023-05-01 00:00:00,Books,Shirt,1,696.27
49,ORD1009,CUST209,2023-05-16 00:00:00,Clothing,Phone,1,380.54
50,ORD1010,CUST210,2023-05-31 00:00:00,Books,Novel,3,568.06
51,ORD1011,CUST211,2023-06-15 00:00:00,Books,Laptop,2,592.04
52,ORD1012,CUST212,2023-06-30 00:00:00,Books,Laptop,4,266.37
53,ORD1013,CUST213,2023-07-15 00:00:00,Books,Chair,1,972.63
54,ORD1014,CUST214,2023-07-30 00:00:00,Furniture,Chair,4,797.62
55,ORD1015,CUST215,2023-08-14 00:00:00,Electronics,Shirt,2,945.55
56,ORD1016,CUST216,2023-08-29 00:00:00,Furniture,Novel,2,905.34
57,ORD1017,CUST217,2023-09-13 00:00:00,Furniture,Novel,2,638.11
58,ORD1018,CUST218,2023-09-28 00:00:00,Furniture,Chair,1,929.69
59,ORD1019,CUST219,2023-10-13 00:00:00,Books,Novel,2,179.64

In [17]:
combined_df['Order_Date'] = pd.to_datetime(combined_df['Order_Date'])
combined_df['Total_Price'] = combined_df['Quantity'] * combined_df['Unit_Price']
combined_df['Month'] = combined_df['Order_Date'].dt.month
combined_df['Weekday'] = combined_df['Order_Date'].dt.day_name()

In [18]:
print("\nDescriptive Statistics:\n", combined_df.describe())

# Total sales
total_sales = combined_df['Total_Price'].sum()
print("\nTotal Sales: ₹", round(total_sales, 2))

# Average order value
avg_order_value = combined_df['Total_Price'].mean()
print("Average Order Value: ₹", round(avg_order_value, 2))

# Sales by Category
category_sales = combined_df.groupby('Category')['Total_Price'].sum()
print("\nSales by Category:\n", category_sales)

Descriptive Statistics:
                 Order_Date   Quantity  Unit_Price  Total_Price      Month
count                   60  60.000000   60.000000    60.000000  60.000000
mean   2023-05-23 12:00:00   2.350000  570.472000  1330.188000   5.200000
min    2023-01-01 00:00:00   1.000000  130.950000   130.950000   1.000000
25%    2023-03-13 06:00:00   1.000000  316.267500   663.127500   3.000000
50%    2023-05-23 12:00:00   2.000000  580.050000  1124.780000   5.000000
75%    2023-08-02 18:00:00   3.000000  824.550000  1830.785000   7.250000
max    2023-10-13 00:00:00   4.000000  972.630000  3190.480000  10.000000
std                    NaN   1.117276  282.697009   875.336695   2.772749

Total Sales: ₹ 79811.28
Average Order Value: ₹ 1330.19

Sales by Category:
 Category
Books          25177.29
Clothing        1141.62
Electronics    22888.59
Furniture      30603.78
Name: Total_Price, dtype: float64